
/* Overall Container */
.single_question_container {
  margin: 50px;
  margin-top: 75px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Question Header */
.questionHeader {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  background-color: #f7f7f7;
  padding: 10px 20px;
  border-radius: 8px;
  margin-bottom: 1rem;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Question Title */
.question_title_wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 0;
  align-items: flex-start;
  padding-left: 20px;
}

.question_title h2 {
  font-size: 2rem;
  color: #023047;
  display: flex;
  align-items: center;
  margin: 0;
}

.question_title h2 svg {
  margin-right: 10px;
  font-size: 1.8rem;
}

/* Horizontal Line under the Title */
.question_title_wrapper hr {
  width: 130px;
  margin: 5px 0 0 0;
  border: none;
  border-top: 2px solid #ef9d05;
}

/* Question Description */
.question_description {
  font-size: 1.3rem;
  color: #023047;
  background-color: #f0f0f0;
  border: 2px solid #e0e0e0;
  padding: 15px;
  border-radius: 8px;
  /*margin-left: 20px;*/
  margin-right: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  line-height: 1.6;
}

/* Divider Line in Description */
.question_desc hr {
  width: 100%;
  border: none;
  border-top: 1px solid rgba(215, 208, 208, 0.3);
  margin: 20px 0;
}

